.fav-movie {
  margin-bottom: 15px;
  figure {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: auto;
    width: 100%;
    img {
      display: block;
      height: 400px;
      margin: auto;
    }
    figcaption {
      text-align: center;
    }
  }
  button.btn {
    // display: block;
    // margin: auto;
    margin: 12px auto 0 0;
  }
}

.card {
  margin-bottom: 15px;
}

// .card-body:nth-of-type(odd) {
//   background-color: #f8f9fa;
// }

.profilecard1 {
  background-color: #f8f9fa;
}

.profilecard2 {
  background-color: #bbb3b0;
}

// .deleteButton {
//   display: grid;
//   grid-template-columns: 2fr 2fr;
//   gap: 50%;
//   margin: auto;
// }

.profileContainer {
  padding: 20px;
}
