.avatar-preview {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-preview:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s;
}

.avatar-input {
  padding: 0;
  box-shadow: none;
  display: none;
}

.avatar-input:hover {
  box-shadow: none;
}

.custom-file-upload {
  font-size: var(--small);
  font-style: italic;
  color: var(--bg-color-gray);
}

.custom-file-upload:hover {
  cursor: pointer;
}

.avatar-upload {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}
