.parameters {
  color: var(--color-accent);
}

.parametersClick {
  color: var(--color-accent);
}

.parametersClick:hover {
  color: var(--color-colorful);
}

.actors {
  color: var(--color-accent);
}

.movieView {
  padding: var(--padding);
}

.movieView img {
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-transparent);
}

.movieView img:hover {
  box-shadow: var(--element-focus);
  transition: 0.2s;
}

.parameters-wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: var(--gap);
}

.movie-view-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr;
  gap: calc(var(--gap) * 4);
}

.movie-view-text * {
  padding-top: var(--padding);
  color: var(--color-main);
}

.movie-view-text span:first-of-type {
  font-weight: 600;
  font-size: var(--h6);
}

.movie-view-text {
  color: var(--color-main);
}

.movie-view-button-wrapper {
  display: flex;
  gap: var(--gap);
  align-items: flex-start;
}

.movie-view-button-wrapper .addButton {
  position: relative;
  width: 42px;
}

.VerticalContainer {
  // display: grid;
  // grid-template-columns: 4fr 1fr;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.genre-description:hover,
.parametersClick:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .movie-view-wrapper {
    grid-template-columns: 1fr;
  }

  .movie-view-button-wrapper {
    align-items: flex-end;

    flex-direction: column;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .movie-view-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
