.login-form {
  padding: var(--padding);
  gap: var(--gap);
  color: var(--color-main);

  display: grid;
  height: 100dvh;
  align-content: center;

  justify-content: center;
}

.login-form button {
  margin-top: 20px;
}

.login-form h2 {
  margin: 0;
  margin-bottom: 20px;
}

// .login-form label {
//   margin-bottom: 5px;
// }

.formUsername,
.formPassword {
  display: flex;
  flex-direction: column;
}

input {
  border: none;
}
