$primary: rgb(48, 41, 255);
// $body-bg: #ee6031;

$third: #bbb3b0;

@import "~bootstrap/scss/bootstrap.scss";

$color: steelblue;

.my-flix {
  color: $color;
}

.navbar {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

#root {
  height: 50vh;
  background-color: #8f908a37; /* First color block */
}

// #root {
//   width: 100%;
//   height: 100vh; /* Make the container tall to create space for scrolling */
//   background: linear-gradient(
//     0deg,
//     #ffffff 33.33%,
//     #b0b0b0 33.33%,
//     #f2f2f2 66.66%,
//     #95ffc3 66.66%,
//     #f1f1f1 100%
//   );
// }

.card-body {
  background-color: #bbb3b051;
  // border-radius: 8;
  padding-top: 29;
  padding-right: 25;
  width: "100%";
  display: grid;
  // height: 200px; /* Adjust the height as needed */
  // overflow: hidden;
  // box-shadow: -3px -9px 10px #17171733;
}

.card-img-top {
  width: 100%;
  // height: 100%;
}

img,
.img-fluid,
.figure-img {
  width: 100%;
  // height: 100%;
}

.fav-button {
  color: #f5f5f5;
  background-color: #1eff80;
  border: none;
  border-radius: 4px;
  padding: 4px 12px;
}

.btn {
  padding-y: 0.1rem;
  padding-x: 0.5rem;
  font-size: 0.775rem;
  border-radius: var(--bs-border-radius-sm);
  background-color: blue;
}

.card-title {
  color: black;
  overflow: auto;
}

.CUB {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-bottom: -374px;
  margin-left: -40px;
  font-size: 59px;
  display: inline;
  position: absolute;
  color: #ff1469;
}

.VerticalContainer {
  position: fixed;
  left: 0;
}

.CubWrap {
  margin: 65px;
}

.CubDescription {
  // margin: 82px;
  display: inline;
}

.form-control {
  margin-top: 8px;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #9894ff;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #ff1469;
  margin-top: 20px;
}

.clear-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 59px;
  // color: #007bff;
  color: #00000024;
}

@media (width <= 990px) {
  .fav-movie figure img {
    height: 100%;
  }
}

@media (min-width: 990px) and (max-width: 1200px) {
  .fav-movie figure img {
    height: 290px;
  }
}

@media (min-width: 1200) and (max-width: 1400px) {
  .fav-movie figure img {
    height: 375px;
  }
}
