:root {
  --padding: 10px;
  --border: 0.1px solid var(--color-main);
  --gap: 10px;
  --border-radius: 4px;
  --font-family: "Helvetica";
  // --color-main: #191919;
  --color-main: #3b387d;
  --color-main-transparent: #19191982;
  --color-main-opaque: #5d5d7a;
  // --color-main-opaque2: #6d6d91;
  --color-colorful: #ff0404;
  --color2: #eee;
  --bg-color: #f4f4f4;
  --bg-color-gray: #b3b3b3;
  --bg-color-transparent: #f4f4f480;
  --box-shadow-card: 0px 0px 3px 0px var(--color-main);
  --box-shadow-movie-image: 0px 0px 13px 0px var(--color-main);
  --box-shadow: #e4e4e46f 0px 0px 12px 1px;
  --line-height-small: 1.4;
  --letter-spacing-normal: 0.3px;
  --letter-spacing-small: -0.5px;
  // --blue: #4e6371;
  --blue: #f3faff;
  --green: #f4f6ff;
  // --green: #f4f6ff;
  --red: #ea4d4d;
  --yellow: #e9f244;
  --orange: #efc715;
  --shadow-glow: 0px 0px 1px var(--color-main);
  --turquiose: #2bc3c8;

  --h1: 36.49px;
  --h2: 32.44px;
  --h3: 28.83px;
  --h4: 25.36px;
  --h5: 22.78px;
  --h6: 20.25px;
  --p: 18px;
  --small: 16px;
  --tiny: 14.22px;

  --spin-duration: 30s;

  --box-shadow-transparent: 0px 0px 4px 0px var(--color-main-transparent);
  --element-focus: 0px 0px 4px 0px var(--color-main-transparent);
}

html {
  background-color: var(--color-main-opaque2);
}

* {
  // color: var(--color-main);
  font-size: var(--p);
  text-decoration: none;
  font-family: var(--font-family);
  line-height: var(--line-height-small);
}

a:hover,
a:focus,
a:focus-visible {
  color: var(--color-colorful);
}

.nav-wrapper:hover .spin-image {
  animation-duration: 4s;
}

body {
  margin: 0;
  background-color: var(--bg-color);
}

h1 {
  margin: 0;
  font-size: var(--h1);
  letter-spacing: var(--letter-spacing-small);
  // color: var(--color-main);
  color: var(--bg-color);
  text-shadow: 0px 0px 2px var(--color-main);
}

button {
  // padding: 3px;
  padding: var(--padding);
  margin: 0;
  border: var(--border);
  border-radius: var(--border-radius);
  font-size: var(--small);
  font-weight: 100;
  letter-spacing: var(--letter-spacing-small);
  // box-shadow: 0px 0px 1px 0px var(--color-main);
  box-shadow: var(--box-shadow-transparent);
  border: none;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 0px 0px 7px 0px var(--color-main-transparent);
  color: var(--color-colorful);

  transition: opacity 0.1s, box-shadow 0.1s;
}

hr {
  border: 0.1px solid var(--color-main);
}

.svg {
  mix-blend-mode: overlay;
}

.heading-color-element {
  font-size: var(--h1);
}

.blue {
  color: var(--blue);
}

.white {
  // color: var(--color-main);
  // color: #ffdfdf;
  color: white;
}

.green {
  color: var(--green);
}

.red {
  color: var(--red);
}

.yellow {
  color: var(--yellow);
}

.orange {
  color: var(--orange);
}

.error {
  padding: var(--padding);
  color: red;
}

.moviecard-wrap {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Responsive columns */
  padding: var(--padding);
  grid-area: card;
  margin-top: 10vh;
  margin-bottom: 25vh;
}

.wrapper {
  // display: grid;
  // grid-template-columns: 1fr 2fr;
  // grid-template-areas:
  //   "menu card card"
  //   "menu card card";
  position: relative;
  align-items: start;
  min-height: 100vh;
  // max-width: 75vw;
  margin: auto;
  // align-items: stretch;
}

.CubWrap {
  position: sticky;
  top: 0;
  background: var(--bg-color);
  padding: var(--padding);
  display: flex;
  // margin-bottom: 5vh;
  flex-direction: column;
  border-radius: var(--border-radius);
  z-index: 10;
  // gap: var(--gap);
  // border: 10px solid var(--caolor-main);
  // box-shadow: 17px -4px 8px 6px var(--color-main);
}

.CubWrap input {
  padding: var(--padding);
  border-radius: var(--border-radius);
  border: var(--border);
  margin-top: var(--padding);
  background-color: var(--color-main);
  color: var(--bg-color);
  font-weight: 200;
}

.CubWrap h1 {
  margin-bottom: 10px;
  line-height: 1.1;
}

.CubDescription {
  letter-spacing: var(--letter-spacing-normal);
  color: var(--color-main);
  font-weight: 100;
  margin-bottom: 20px;
  font-style: italic;
}

input {
  padding: var(--padding);
  border-radius: var(--border-radius);
  // color: var(--color-main);
}

input:focus,
input:hover {
  outline: none !important;
  // border: 1px solid var(--color-main);
  // border: none;
  // box-shadow: 0 0 10px #719ece;
  box-shadow: var(--element-focus);
}

.search-movies {
  box-shadow: var(--box-shadow);
}

.nav-wrapper {
  background-color: var(--color-main);
  padding: var(--padding);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
}

// .nav-wrapper img {
//   border-radius: 50%;
// }

.bg-poster {
  z-index: -1;
  // background-color: #1b1c1608;
  background-color: #8484840a;
  // filter: blur(28px);
  width: 126vw;
  height: 100vh;
  /* display: flex; */
  transform: translate(-50%, 50%);
  position: fixed;
  // top: 50%;
  left: 50%;
  background-size: cover;
  // rotate: 13deg;
  background-position: center;
  background-repeat: no-repeat;
}

.spin-image {
  animation: spin 30s linear infinite;
  box-shadow: var(--box-shadow-transparent);
  mix-blend-mode: difference;
  border-radius: 50%;
  top: 0;
  left: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navbar-links {
  display: flex;
  float: right;
  gap: var(--gap);
  font-size: var(--h6);
}

a {
  color: var(--bg-color);
}

a:hover {
  transition: 0.1s;
}

.clear-button {
  position: absolute;
  border-radius: 50%;
  top: 15vh;
}

.updateUser-wrapper {
  padding: var(--padding);
  color: var(--color-main);
}

h4,
p {
  margin: 0;
  color: var(--color-main);
}

.left-side {
  grid-area: menu;
  position: relative;
  height: 100%;
  border-radius: var(--border-radius);
}

.left-side button * {
  // margin-left: 10px;
  color: var(--bg-color-main);
  font-size: var(--small);
}

.right-side {
  // background-color: rgb(234, 234, 234);
  min-height: 100vh;
}

.nav {
  // grid-area: menu;
  position: sticky;
  top: 0;
  // z-index: 1000;
  padding: var(--padding);
  background-color: white;
  background-color: transparent;
}

.fav-movies-div * {
  list-style-type: none;
  font-size: var(--tiny);
}

.fav-movies-div {
  // list-style-type: none;
  position: fixed;
  // top: 50%;
  margin: 0;
  left: 0;
  bottom: 0;
  background-color: var(--color2);
  padding: var(--padding);
  border-radius: var(--border-radius);
  height: 85%;
  width: 200px;
}

.fav-movies-div p {
  display: inline;
}
.fav-movies-div ul {
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

.likes-aside-wrapper {
  padding: var(--padding) 0;
}

.logout-question-paragraph {
  margin-bottom: 20px;
}

.footer {
  // background-color: var(--color-main);
  width: 100%;
  height: max-content;
  bottom: 0;
  position: fixed;
}

.social-media {
  display: flex;
  flex-direction: column;
}

.social-media img {
  mix-blend-mode: difference;
}

.footer-wrapper {
  padding: var(--padding);
}

@media (max-width: 600px) {
  .moviecard-wrap {
    grid-template-columns: 1fr;
  }

  .wrapper {
    display: block;
    margin-bottom: 20vh;
    max-width: none;
  }

  .profile-info-grid {
    grid-template-columns: 1fr;
    display: block;
  }

  .fav-movie-wrapper {
    grid-template-columns: 1fr;
  }

  // .nav {
  //   grid-area: auto;
  //   position: relative;
  // }

  .left-side {
    grid-area: auto;
  }

  .CubWrap {
    // top: 72px;
  }
}
